/* Archivo estilosTienda.css */

/* Estilo básico para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: #333;
    width: 100%;  /*******/
    justify-content: center;
}

/* Estilo del título de la página */
#titulo {
    color: #A50000;
    font-size: 3em;
    margin: auto;
    padding: 0.25em 0 0.25em 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo de las categorías */
#categorias {
    margin:  auto;
    border: 1px solid #a500003b;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-bottom: 20px;
}

#categorias .submenu {
    margin: 0 10px;
}

/* Estilo de las subcategorías */
.submenu {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    transition: 3s;
}
#categorias .submenu button {
    background-color: #a5000091;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

#categorias .submenu button:hover {
    background-color: #800000;
}

.submenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.submenu-content a {
    color: #A50000;
    padding: 12px 16px;
    font-size: 1em;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.submenu-content a:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.2);
}

.submenu:hover .submenu-content {
    display: block;
}


/* Contenedor de los productos */
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:  auto auto 100px auto;
    border: 1px solid #a500003b;
    border-radius: 10px;
    padding: 3em;
    width: 80%;
    height: auto;
}

/* Estilo individual para cada producto */
.producto {
    background-color: white;
    width: calc(30% - 20px); /* Calculamos el ancho para tres productos por fila */
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
    padding-bottom: 5rem;
}

/* Estilo de imagen del producto */
.producto img {
    display: block;
    margin: 0 auto 5px;
    width: 100px; /* Tamaño de la imagen */
    height: 100px; /* Tamaño de la imagen */
    border-radius: 50%; /* Forma circular para la imagen */
}

/* Estilo para el nombre del producto */
.producto h3 {
    font-size: 1.2em;
    color: #A50000;
    text-align: center;
    margin-bottom: 5px;
}

/* Estilo para la descripción del producto */
.producto p {
    color: #666;
    margin-bottom: 10px;
    padding: 5px;
    max-height: 3em; /* Altura máxima de tres líneas de texto */
    overflow: hidden; /* Oculta el texto que excede la altura máxima */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto truncado */
    font-size: 1em;
}

/* Estilo para el precio del producto */
.producto stock {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 1em 0 0 0;
}
.producto span {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 1px 0 0 0;
    color: #26a500;
}


/* Estilo para el botón "Agregar al carrito" */
.botonAgregar {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #A50000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

/* Estilos del icono del carrito */
#carrito-icono {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#carrito-icono img {
    width: 70px;
    height: auto;
}

#carrito-icono span {
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: #ffef08;
    color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1em;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#carrito-icono img:hover {
    width: 80px;
    height: auto;
    transition: 0.5s;
}

/* Mostrar el botón cuando el mouse se posa sobre el producto */
.producto:hover .botonAgregar {
    display: block;
}
.botonAgregar:hover{
    background-color: #530202;
}

/* estilos para la pagina del carrito de compras*/

#contenedor-principal {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos pequeños */
}

#contenedor-carrito, #contenedor-formulario {
    padding: 20px;
    box-shadow: 0 0 5px #a5000079;
}

#contenedor-carrito {
    width: 60%;
    /*margin: auto auto 100px auto;
    background: #f0efef94;
    padding: 20px;
    box-shadow: 0 0 5px #a5000079;*/
}
#contenedor-formulario {
    width: 35%;
}
.producto-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ebeae2;
}



.producto-info h3 {
    margin: 0;
    font-size: 1em;
}

.producto-info span {
    color: #26a500;
    margin-top: 5px;
    
}

.eliminar-producto {
    background: none;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #A50000;
    cursor: pointer;
    transition: color 0.3s ease;
}

.eliminar-producto:hover {
    color: #e41d16;
    font-size: 2em;
    
}

.labelTotal {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
}
#formulario-envio {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px #a5000079;
}

#formulario-envio h2 {
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
}

#formulario-envio label {
    display: block;
    margin-top: 10px;
    font-size: 1em;
}

#formulario-envio input {
    width: 100%;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#formulario-envio button {
    width: 100%;
    padding: 10px;
    background-color: #26a500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#contenedor-formulario h2{
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
}

#formulario-envio button:hover {
    background-color: #228b22;
}

/*************************************************/




/* Estilos adicionales para diferentes tamaños de pantalla */
@media only screen and (max-width: 1000px) {
    /* Dos productos por fila en pantallas entre 758px y 1000px */
    .producto {
        width: calc(45% - 20px); /* Calculamos el ancho para dos productos por fila */
    }
    .botonAgregar {
        display: block !important;
    }
    #contenedor-principal {
        flex-direction: column;
        align-items: center;
    }

    #contenedor-carrito, #contenedor-formulario {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    #contenedor-principal {
        flex-direction: column;
        align-items: center;
    }

    #contenedor-carrito, #contenedor-formulario {
        width: 100%;
        margin-bottom: 20px;
    }
    /* Un producto por fila en pantallas menores a 758px */
    .producto {
        width: calc(100% - 20px); /* Calculamos el ancho para un producto por fila */
    }
    .botonAgregar {
        display: block !important;
    }
}
